<%#
Copyright 2011-2014, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div id="featured_content" class="row">
  <div class="col-md-4">
    <p><%= link_to media_object_path("avalon:47") do %>
      <strong>Featured Video</strong>
    <% end %></p>
    <p><%= link_to media_object_path("avalon:47") do %>
      <%= image_tag("featured/duncan1.png", alt: "Featured Video", class: 'thumbnail') %>
    <% end %></p>
    <p><%= link_to 'Duncan Child Welfare Hearing', media_object_path("avalon:47") %></p>
  </div>
  <div class="col-md-4">
    <p><%= link_to media_object_path("avalon:47") do %>
      <strong>Featured Video</strong>
    <% end %></p>
    <p><%= link_to media_object_path("avalon:47") do %>
      <%= image_tag "featured/duncan2.png", alt: "Featured Video", class: 'thumbnail' %>
    <% end %></p>
    <p><%= link_to 'Duncan Child Welfare Hearing', media_object_path("avalon:47") %>
  </div>
  <div class="col-md-4 hidden-phone">
    <p><%= link_to media_object_path("avalon:45") do %>
      <strong>Featured Video</strong>
    <% end %></p>
    <p><%= link_to media_object_path("avalon:45") do %>
      <%= image_tag "featured/holmes.png", alt: "Featured Video", class: 'thumbnail' %>
    <% end %></p>
    <p><%= link_to 'Damien Holmes and Deshanon Grady Hearing', media_object_path("avalon:45") %></p>
  </div>
</div>
<div class="row">
  <div id="home-about" class="col-md-12">
    <p><strong>Institute for Juvenile Court and Corrections Research</strong> houses audio and video collections.</p>
    <ul>
      <li>Use the search box, or browse using the terms on the left side to discover content.</li>
      <li>Some content is only available when you <%= link_to 'sign in', new_user_session_path %> with your ID and passphrase.</li>
    </ul>
  </div>
</div>
